<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <h2>register products</h2>
            <dl>
                <dt>name</dt>
                <dd>
<input type="text" [(ngModel)]="productname" class="form-control">
                </dd>
                             <dt>price</dt>
                <dd>
<input type="text" [(ngModel)]="productprice" class="form-control">
                </dd>
            </dl>
            <button (click)="registerclick()" class="btn btn-primary w-100">
                register
            </button>
        </div>
        <div>
            <h2>product details</h2>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>name</th>
                        <th>price</th>
                        <th>action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr [class.even-style]="even" [class.odd-style]="odd" *ngFor="let item of products;let i=index; let even=even; let odd=odd;">
                        <td>{{item.name}}</td>
                        <td>{{item.price}}</td>
                        <td>
                            <button (click)="deleteclick(i)" class="btn btn-danger">
                                <span class="bi bi-trash-fill"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
