<div class="container-fluid">
    <h2>product details</h2>
    <dl>
        <dt>name</dt>
        <dd>{{product.Name}}</dd>
        <dt>price</dt>
        <dd>{{product.price}}</dd>
        <dt class="form-switch">
            <input name="preview" type="checkbox" ngModel #preview="ngModel"
            class="form-check-input">{{(preview.value)?'hide preview':'show preview'}}
        </dt>
        <dd *ngIf="preview.value">
            <img [src]="product.preview" width="200" height="200">
        </dd>

        
    </dl>
</div>
