<div class="container-fluid">
    <h2>Ngfor nested demo</h2>
    <div class="row">
        <div class="col">
            <ol>
                <li *ngFor="let item of data">
                    {{item.category}}
                    <ul>
                        <li *ngFor="let product of item.products">
                            {{product}}
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <div class="col">
            <select class="form-select">
                <optgroup *ngFor="let item of data" [label]="item.category" >
                    <option *ngFor="let product of item.products">
                        {{product}}
                    </option>

                </optgroup>
               
            </select>
        </div>
    </div>
</div>
