<div class="container-fluid">
    <header class="bg-danger text-white text-center p-2 mb-2">
        <h2>fake store-online shopping</h2>
    </header>
    <section class="row">
        <nav class="col-3">
           <app-filter (filterchanged)="getcategoryname($event)"
           [allcount]="allcount" [electronicscount]="electronicscount"
           [jewellarycount]="jewellarycount" [mensclothingcount]="menscount"
           [womensclothingcount]="womenscount">

</app-filter> 
        </nav>
        <main class="col-9">
            <div class="d-flex flex-wrap overflow-auto" style="height: 500px;">

                <div *ngFor="let item of products" class="card m-2 p-2"
                style="width: 200px;">
                <img [src]="item.image" height="200" class="card-img-top">
                <div class="card-header" style="height: 170px;">
                    <p>{{item.title}}</p>
                </div>
                <div class="card-footer">
                    <p>{{item.price}}</p>
                </div>
            </div>
            </div>

        </main>
    </section>
</div>

