<div class="container-fluid">
    <div>
        <div>
            <div>
                <label class="form-label">select category</label>
                <div>
                    <select class="form-select">
                        <option *ngFor="let item of categories">
                            {{item|titlecase}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="d-flex flex-wrap" style="height: 500px;">
                <div *ngFor="let item of products" class="card m-2 p2"
                style="width:200px">
                <img [src]="item.image" height="150" class="card-img-top">
                <div class="card-header">
                    <p>{{item.title}}</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>